
@{
    ViewData["Title"] = "contato";
}
 <main class="container">
            <section class=" mt-5 row ">
                <article class="cards text-center">
                    <img src="img/japão.jpg" alt="">
                    <h2>Pacote de viagem Japão</h2>
                    <p>De 5-7 dias</p>
                    <p>R$:999</p>
                    <a href="#" class="btn btn-primary">Saber mais</a>
                </article>

                <article class="cards text-center">
                    <img src="img/bariloche.jpg" alt="">
                    <h2>Pacote de Bariloche </h2>
                    <p>De 5-7 dias</p>
                    <p>R$:999</p>
                    <a href="#" class="btn btn-primary">Saber mais</a>
                </article>
                  
                <article class="cards text-center">
                    <img src="img/beachpark.jpg" alt="">
                    <h2>Pacote de viagem Beachpark</h2>
                    <p>De 5-7 dias</p>
                    <p>R$:999</p>
                    <a href="#" class="btn btn-primary">Saber mais</a>
                </article>
                  
                <article class="cards text-center">
                    <img src="img/madri.jpg" alt="">
                    <h2>Pacote de viagem Madri</h2>
                    <p>De 5-7 dias</p>
                    <p>R$:999</p>
                    <a href="#" class="btn btn-primary">Saber mais</a>
                </article>
                  
                <article class="cards text-center">
                    <img src="img/parati.jpg" alt="">
                    <h2>Pacote de viagem Parati</h2>
                    <p>De 5-7 dias</p>
                    <p>R$:999</p>
                    <a href="#" class="btn btn-primary">Saber mais</a>
                </article>
                  
                <article class="cards text-center">
                    <img src="img/porto seguro.jpg" alt="">
                    <h2>Pacote de viagem Porto Seguro</h2>
                    <p>De 5-7 dias</p>
                    <p>R$:999</p>
                    <a href="#" class="btn btn-primary">Saber mais</a>
                </article>
            </section>






        </main>

