@{
    ViewData["Title"] = "Home Page";
}
   
        <main>
            <div class="bgbanner">
                <div class="banner container text-center mt-5 ">
                    <article>
                        <h1 class="pt-5">Lorem ipsum dolor sit amet consectetur.</h1>
                        <p class="pt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores ipsum fugiat
                            totam velit
                            quis
                            ut.</p>
                        <a href="#" class="btn btn-primary btn-lg">Viajar!</a>
                    </article>
                </div>
            </div>
            <div class="bgconteudo mt-5 mb-5">
                <article class=" container" id="cont">
                    <div class="row align-items-center text-center">
                        <div class=col-md-6>
                            <img src="img/Estrutura dubai.png" alt="" class="w-100" >
                        </div>
                        <div class=col-md-6>
                            <h2>Lorem, ipsum.</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ratione labore,
                                laudantium
                                cum sunt nulla pariatur fugit! Nam ut a aut quos magnam rerum facere accusantium
                                dolorum.
                                
                            </p>
                            <a href="#" class="btn btn-primary">Viajar barato</a>
                        </div>
                    </div>

                </article>
            </div>



        </main>
        
    